<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
  
  </head>
  
  <body>


    <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h1 >Online Shopping Cart</h1>
          <a  href="#" class="btn-main">Get Started</a>
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="col">
       
          
          <h2>Products</h2>
       
          <a href="#" class="btn-default">Learn more</a>
        </div>
       
        
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="footer">
      <div class="container">
        <p>&copy; Online Shopping Cart 2022</p>
      </div>
    </div>
  </body>
</html>